<html>

<% if @country.nil? %>
    Country Not found!
<% else %>
    <h2>Regions of <%= @country.title %> </h2>
<% end %>
<ul>
  <li><a href="/">Main Page</a></li>
  <li><a href="/countries">Countries</a></li>
</ul>
<% if @regions.size > 0 %>
    <table>
      <tr>
        <th>regions_id</th>
        <th>title</th>
      </tr>
      <% @regions.each do |region| %>
          <tr>
            <td><%= region.region_id %></td>
            <td><%= region.title %></td>
          </tr>
      <% end %>
    </table>
<% end %>
</html>
