

  <form
  action="/sign_in"
  method="post">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" class="form-control" name="password" >
    </div>
    <div class="form-group">
      <label for="remember">remember me</label>
      <input type="checkbox"  id="remember" name="remember" value="true" >
    </div>
    <button type="submit" class="btn btn-default">Sign In</button>
    <a href="/guests" class="btn btn-default">Back</a>
  </form>

