<html> <h2>Countries </h2>
<ul>
  <li><a href="/">Main Page</a></li>
</ul>
<table>
  <tr>
    <th>cid</th>
    <th>title</th>
  </tr>
  <% @countries.each do |country| %>
      <tr>
        <td><a href="/regions?country_id=<%= country.cid %>"><%= country.cid %></a></td>
        <td><%= country.title %></td>
      </tr>
  <% end %>
</table>
</html>
